.landing-section {
    height: 720px;
    background-color: #1AC073;
    position: relative;
}

.landing-section .searchFood {
    display: inline-block;
    width: 543px;
    margin: 170px 0px 233px 132px
}

.landing-section .searchFood h1 {
    height: 147px;
    font-weight: 400;
    font-size: 70px;
    line-height: 82px;
    color: #FFFFFF;
}

.landing-section .searchFood p {
    margin: 32px 82.64px 40px 0px;
    width: 441px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.landing-section .searchFood form {
    background: #FFFFFF;
    width: 398px;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
}

.landing-section .searchFood form input {
    flex: 1;
    border: none;
    outline: none;
    width: 136px;
    height: 20px;
    border-radius: 10px;
    padding: 19px 128px 19px 22px;
}

.landing-section .searchFood form button {
    background: #F3BA00;
    padding: 21px 31.5px;
    gap: 10px;
    border: none;
    outline: none;
    color: #FFFFFF;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.landing-section .cooking {
    display: inline;
    float: right;
    margin: 159.9px 629.37px 6.6px 0px;
}

.landing-section .cooking #cookingImg {
    position: absolute;
    float: right;
}